{% extends "navbar.html" %}

{% block body %}

<section class="section" id="about">
  <div class="section-heading" style="padding-top:40px;margin-right: 20px;">
    <h3 class="title is-2 has-text-centered">Certificates</h3>
  </div>
</section>
<div class="columns is-centered">
  <div class="column is-narrow">
    <table class="table is-hoverable table-row-active-background-link" style="margin-top: -100px;margin-right: 20px;">
      <thead>
        <tr class="has-text-centered">
          <th>Title</th>
          <th>Institution</th>
          <th>Description</th>
          <th>Area</th>
        </tr>
      </thead>
        {% for certificate in certificates %}
          <tr class="has-text-centered" style=":black;">
            {% set pdf = certificates[certificate]['pdf'] %}
            <td><a href="{{url_for('download_certificate', file=certificates[certificate]['pdf'])}}">{{certificates[certificate]['title']}}</a></td>
            <td>{{certificates[certificate]['institution']}}</td>
            <td>{{certificates[certificate]['description']}}</td>
            <td>{{certificates[certificate]['area']}}</td>
          </tr>
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}