{% extends "navbar.html" %}

{% block body %}

<section class="hero is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="columns is-mobile is-centered ">
				<div class="column is-half has-text-centered">
					<h1 class="title is-1">Contact</h1>
					<p class="is-size-4" style="margin-top:-20px;">Contact me in any of the following social networks.</p>
					<div class="social-media">
						<div style="margin-bottom:20px;"></div>
						<a href="https://wa.me/528119806543" target="_blank" class="button is-light is-large"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
						<a href="mailto:omarandre97@gmail.com" target="_blank" class="button is-light is-large"><i class="fa fa-envelope" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/in/omar-jrz/" target="_blank" class="button is-light is-large"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}